section .content a.more {
  background-color:$black;
  color:$white;
  margin-right:5px;
  padding:0.4em 0.8em;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border:none;
}
section .content a.more:hover {
  color:$white;
  background-color:$orange;
  border:none;
}
.msg {
  color: $red;
}
.notice {
  color: $green;
}
.slider ul.slides li.slide.active .jumbotron h1.blocked {
  background-color:#000;
  color:#fff;
  @include opacity(0.8);
  margin:5px;
  padding:0.3em;
}
.jumbotron a.blocked {
  background-color:#fff;
  color:#000;
  @include opacity(0.7);
  margin:5px;
  padding:0.4em 0.8em;
}
.chen-spread {
  background-image: image-url('splash-chen-xing-spread.jpg');
}
.chen-pages {
  background-image: image-url('splash-chen-xing-pages.jpg');
}
.chen-cover {
  background-image: image-url('splash-chen-xing-cover.jpg');
}
.epicpress, .bearport, .midamerica, .abdo, .cherrylake, .sleepingbear, .childsworld, .mollyomara, .bourgeois, .dreamslice {
  border: 16px solid $light-gray;
}
.epicpress {
  background-image: image-url('clients/epicpress.jpg');
}
.bearport {
  background-image: image-url('clients/bearport.jpg');
}
.midamerica {
  background-image: image-url('clients/midamerica.jpg');
}
.abdo {
  background-image: image-url('clients/abdo.png');
}
.cherrylake {
  background-image: image-url('clients/cherrylake.jpg');
}
.sleepingbear {
  background-image: image-url('clients/sleepingbear.jpg');
}
.childsworld {
  background-image: image-url('clients/childsworld.jpg');
}
.mollyomara {
  background-image: image-url('clients/mollyomara.jpg');
}
.bourgeois {
  background-image: image-url('clients/bourgeois.jpg');
}
.dreamslice {
  background-image: image-url('clients/dreamslice.jpg');
}
.logo {
  background-image: image-url('logo.svg');
}
a.get-in-touch {
  border-bottom:1px solid #999;
  text-decoration:none;
  &:hover {
    border-bottom:1px solid $white;
    text-decoration:none;
  }
}
.map { float:left; width:60%; }

@media screen and (min-width: 1600px) {
  .map { float:left; width:700px; }
}
@media screen and (max-width: 767px) {
  .map { float:left; width:50%; }
}
@media screen and (max-width: 480px) {
  .map { float:none; width:200px; }
}
