%header{'data-spy' => 'affix'}
  .menu-trigger
    .bar
    .bar
    .bar
  = link_to '', '/', class: 'brand transition', style: 'background-image:url(/assets/images/logo.svg);'
  %nav#main
    .nav
      %ul
        %li= link_to 'About', '/about/', class: 'transition'
        %li= link_to 'Clients', '/clients/', class: 'transition'
        %li= link_to 'Contact', '/contact/', class: 'transition'
