---
title: about
---

%section.gray
  .row
    .col-md-4.mobile-center
      %h2 About
    .col-md-8
      %p Propulsion creates—and maintains—solutions for the ever-evolving challenges publishers encounter online. The fruit of our work is #{link_to 'TitleLeaf', 'http://titleleaf.com'}, a web application tailored to the publishing industry.

%section
  .row
    .col-md-6
      %h1 Established in 2001
      %p <em>Propulsion</em> is a small development team that thrives on the creative process. Over the course of our careers, we have developed solutions for Société Général de Surveillance, Petroconsulants (now IHS Energy Group), Discount Bank &amp; Trust Company, Banque Piguet, and Firmenich, among others. Today, we apply that accumulated knowledge to the unique challenges in the book publishing industry.
    .col-md-6
      %h1 Dedicated craftmanship
      %p Successfully implementing new ideas requires careful attention to details. In practical terms, we analyze business systems, develop improvements and then relentlessly iterate. We apply this same process to create brochure sites or complex and business-to-business structures. For examples of our work, refer to #{link_to 'our recent client list', '/clients.html', class: 'more'} or #{link_to 'contact us directly', '/contact.html'}.

%section.bg-dark
  .row
    .col-md-8.col-md-offset-2.text-center
      %h3 Regardless of the size of your project, we guarantee a first-rate result. We will work with you to create a custom application that best suits your needs. The first step involves helping our potential clients discover how to achieve their business goals. Please #{link_to 'get in touch', '/contact.html', style: 'text-decoration:underline;'} to begin the dialog with no commitment.
