---
title: about | propulsion
---

%section.gray
  .row
    .col-md-4.mobile-center
      %h2 About
    .col-md-8
      %p Propulsion creates—and maintains—solutions for the ever-evolving challenges businesses encounter online.

%section
  .row
    .col-md-6
      %h1 Established in 2001
      %p Located alongside beautiful Lake Tahoe, <em>propulsion</em> is a small development team that relishes the creative process. In practical terms, our work entails analyzing business systems, developing improvements and then relentlessly iterating. Over the course of our careers, the individual developers at <em>propulsion</em> have created solutions for Société Général de Surveillance, Petroconsulants (now IHS Energy Group), Discount Bank &amp; Trust Company, Banque Piguet, and Firmenich, among others.
    .col-md-6
      %h1 Dedicated craftmanship
      %p Today, as a team, we strive to apply our experiences to a widening range of clients. We are adept at building simple brochure sites to enhance your brand, while empowering you to independently update the content after launch. Further, we can integrate social media and email marketing functionality into your site. Yet beyond the features of today's standard websites, we also embrace the challenges of decidedly more complex projects that include e-commerce, asset management, and business-to-business structures.

%section.bg-dark
  .row
    .col-md-8.col-md-offset-2.text-center
      %h3 Regardless of the size of your project, we guarantee a first-rate result. We will work with you to create a custom application that best suits your needs. The first step involves helping our potential clients discover how to achieve their business goals. Please #{link_to 'get in touch', '/contact/'} to begin the dialog with no commitment.
