---
title: contact
---

%section.gray
  .row
    .col-md-4.mobile-center
      %h2 Contact
    .col-md-8
      %p
        Interested in improving the way you do business on the web?
        %span.highlight= link_to 'Get in touch.', '#get-in-touch'

      = image_tag 'lake-tahoe.png', style: 'height:150px;float:left;'
      .map
        %iframe{ width: '100%', height: '150px', frameBorder: '0', src: 'https://a.tiles.mapbox.com/v4/propulsion.7c4a5a6f/attribution,zoomwheel.html?access_token=pk.eyJ1IjoicHJvcHVsc2lvbiIsImEiOiJuYmZ1eGtnIn0.C2mc5AGbQWh0f3U2jP2z8g' }

%section#get-in-touch.top-line
  .row.vcenter
    = form_tag 'https://getsimpleform.com/messages?form_api_token=3b8bbcbdf26210278973abe522bc23f5', id: 'contact_form' do
      %input{ type: 'hidden', name: 'redirect_to', value: 'http://milkfarm.github.io/propulsion/confirm.html' }
      %input{ type: 'hidden', name: 'subject', value: 'Contact Form' }
      .col-md-8.col-md-offset-2
        .block
          .row
            %p.msg{ style: 'display:none;' } Please complete the form accordingly.
          .row
            .col-md-6
              %input.form-control#name{ name: 'name', placeholder: 'Name', type: 'text' }
              %input.form-control#email{ name: 'email', placeholder: 'E-mail', type: 'text' }
              %input.form-control#phone{ name: 'phone', placeholder: 'Phone', type: 'text' }
            .col-md-6
              %textarea.form-control#message{ name: 'message', placeholder: 'Message', type: 'text' }
          .row
            .col-md-12.text-center
              %button.btn#send{ type: 'submit' } Send
              %p.notice{ style: 'display:none;' } We will respond as soon as possible.
